footer.footer-dark 
  .footer-dark-wrapper.d-flex.justify-content-between 
    .footer-wrapper-item.d-flex
      .footer-dark-button.large.d-flex.align-items-center.icon-right.yellow
        span.button-content
        img(src="./assets/icons/icon-caret-up-blue.svg", alt="")
    .footer-wrapper-item.d-flex
      .footer-dark-button.medium.d-flex.align-items-center.icon-left.yellow
        span.button-content
        img(src="./assets/icons/icon-prices-blue.svg", alt="")
      .footer-dark-button.medium.d-flex.align-items-center.icon-left.white
        span.button-content
        img(src="./assets/icons/icon-mail-open-blue.svg", alt="")