header.header 
  .container 
    .header-wrapper.d-flex.align-items-center.justify-content-between 
      .header-item.d-flex.align-items-center 
        .header-icon 
          img(src="./assets/icons/icon-facebook-white.svg", alt="")
        .header-icon(style="margin: 0;")
          img(src="./assets/icons/icon-messenger-white.svg", alt="")
        .line 
        a(href="mailto: contact@anphatland.com") Contact@anphatland.com
      
      .header-item.d-flex.align-items-center 
        .header-wishlists.d-flex.align-items-center 
          .header-icon
            img(src="./assets/icons/icon-heart-white.svg", alt="")
          p.wishlists-value Wishlists (0)
      
        .line 

        .header-language.d-flex.align-items-center 
          .header-icon 
            img(src="./assets/images/image-flag-vietnam.png", alt="")
          p.language-value Tiếng Việt
        
        .header-login.d-flex.align-items-center 
          .header-icon 
            img(src="./assets/icons/icon-logout-white.svg", alt="")
          p.language-value Login

