.section-tuyen-dung-page {
  .section-tuyen-dung-page-detail-wrapper {
    .new-title {
      font-size: 21px;
      color: $secondary;
      margin: 0 0 15px;
      font-weight: 500;
    }
  }
  .section-nav-link {
    .container {
      max-width: 100%;
      padding: 0;
    }
  }
}