.button-component {
  width: auto;
  height: auto;
  border: 1px solid transparent;
  font-size: 15px;
  padding: 7px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  white-space: nowrap;

  .button-icon {
    width: 15px;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }

  &.no-radius {
    border-radius: 0;
  }

  &.bold {
    .button-title {
      font-weight: bold;
    }
  }

  &.uppercase {
    .button-title {
      text-transform: uppercase;
    }
  }
  
  &.big {
    padding: 10px 15px;
  }

  &.reverse {
    flex-direction: row-reverse;
    .button-icon {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  &.secondary {
    background: $secondary;
    color: $white !important;
    &:hover {
      background: darken($secondary, 5%);
    }
  }

  &.primary {
    background: $primary;
    color: $white;
    &:hover {
      background: lighten($primary, 5%);
    }
  }

  &.primary-dark {
    background: $primary-dark;
    .button-title {
      color: $white;
      font-weight: 400;
    }
    &:hover {
      background: lighten($primary-dark, 5%);
    }
  }

  &.messenger {
    background: #00B2FF;
    color: $white;
    &:hover {
      background: darken(#00B2FF, 5%);
    }
  }

  &.yellow {
    background: $yellow;
    color: $black;
    &:hover {
      background: darken($yellow, 5%);
    }
  }

  &.priamry-dark-outline {
    background: transparent;
    border-color: $primary-dark;
    color: $primary-dark;
  }

  &.small {
    font-size: 13px !important;
    padding: 3px 7px;
  }

  @media (max-width: 768px) {
    font-size: 13px !important;
    padding: 7px 10px;
    .button-icon {
      width: 12px;
    }
  }
}