header.header-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $primary-dark;
  padding: 0 15px;
  z-index: 10;
  .header-wrapper {
    height: 48px;
    .header-btn-bar {
      width: 30px;
      height: 30px;
      cursor: pointer;
      padding: 5px;
      display: flex;
      cursor: pointer;
      img {
        width: 100%;
        margin: auto;
      }
    }
    .header-right {
      .form-search {
        .search-icon {
          width: 18px;
        }
        input {
          margin: 0 15px;
          width: 270px;
          font-size: 14px;
          color: $white;
          border: none;
          background: transparent;
          @media (max-width: 575px) {
            width: 130px;
          }
          &::placeholder {
            color: $white;
          }
        }
      }
      .header-notification {
        cursor: pointer;
        width: 18px;
        position: relative;
        .circle {
          background: $red;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 12px;
          height: 12px;
          font-size: 10px;
          position: absolute;
          border-radius: 50%;
          top: 0;
          right: 0;
          transform: translate(50%, -20%);
        }
        img {
          width: 100%;
        }
      }
    }
  }
}