-
  const dataProducts = [
    {
      link: '#',
      type: 'product',
      title: 'Sunshine Garden City',
      des: 'Đào Duy Anh, Gò Vấp, TP.HCM',
      image: './assets/images/image-sample-box.png',
      tags: {
        price: '53 - 62 tr / m',
        delivery: '03/2025',
      }
    },
    {
      link: '#',
      type: 'product',
      title: 'Sunshine Garden City',
      des: 'Đào Duy Anh, Gò Vấp, TP.HCM',
      image: './assets/images/image-sample-box.png',
      tags: {
        price: '53 - 62 tr / m',
        delivery: '03/2025',
      }
    },
    {
      link: '#',
      type: 'product',
      title: 'Sunshine Garden City',
      des: 'Đào Duy Anh, Gò Vấp, TP.HCM',
      image: './assets/images/image-sample-box.png',
      tags: {
        price: '53 - 62 tr / m',
        delivery: '03/2025',
      }
    },
    {
      link: '#',
      type: 'product',
      title: 'Sunshine Garden City',
      des: 'Đào Duy Anh, Gò Vấp, TP.HCM',
      image: './assets/images/image-sample-box.png',
      tags: {
        price: '53 - 62 tr / m',
        delivery: '03/2025',
      }
    },
    {
      link: '#',
      type: 'product',
      title: 'Sunshine Garden City',
      des: 'Đào Duy Anh, Gò Vấp, TP.HCM',
      image: './assets/images/image-sample-box.png',
      tags: {
        price: '53 - 62 tr / m',
        delivery: '03/2025',
      }
    },
    {
      link: '#',
      type: 'product',
      title: 'Sunshine Garden City',
      des: 'Đào Duy Anh, Gò Vấp, TP.HCM',
      image: './assets/images/image-sample-box.png',
      tags: {
        price: '53 - 62 tr / m',
        delivery: '03/2025',
      }
    },
  ]

  const dataNews = [
    {
      link: '#',
      type: 'new',
      title: 'S. Korea’s Big Investors Flocking to Overseas Real Estate',
      des: '18 Nov, 2019',
      new: 'An increasing number of South Korean investors are getting interested in real estate in foreign countries, especially the United States and Japan where regulations are relatively lax and property values are stable.',
      image: './assets/images/image-sample-box.png',
    },
    {
      link: '#',
      type: 'new',
      title: 'S. Korea’s Big Investors Flocking to Overseas Real Estate',
      des: '18 Nov, 2019',
      new: 'An increasing number of South Korean investors are getting interested in real estate in foreign countries, especially the United States and Japan where regulations are relatively lax and property values are stable.',
      image: './assets/images/image-sample-box.png',
    },
    {
      link: '#',
      type: 'new',
      title: 'S. Korea’s Big Investors Flocking to Overseas Real Estate',
      des: '18 Nov, 2019',
      new: 'An increasing number of South Korean investors are getting interested in real estate in foreign countries, especially the United States and Japan where regulations are relatively lax and property values are stable.',
      image: './assets/images/image-sample-box.png',
    },
  ]

  const dataTabs = [
    {
      title: 'What price will I receive when I buy/sell securities?',
      content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit tempora explicabo itaque, deleniti in dolor quasi incidunt autem aperiam, perspiciatis similique assumenda quos maiores, aliquam voluptas maxime quod. Tempora, ut.',
      child: [],
    },
    {
      title: 'How are my assets protected?',
      content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, magni amet officia quisquam ducimus perferendis recusandae sint quasi laudantium sapiente harum doloremque, quae cum quibusdam explicabo saepe minima mollitia dignissimos laborum commodi nihil quia architecto? Veniam reiciendis optio vero voluptatum?',
      child: [],
    },
    {
      title: 'Can I cancel a purchase or sale order once I have entered my instructions online?',
      content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla officia eum expedita quas temporibus dolorem omnis laborum repellat. Totam doloremque a quibusdam temporibus nihil odit possimus architecto reprehenderit natus ad debitis provident, aliquam quia numquam, incidunt labore voluptates quidem fugit cumque est quae illum. Nostrum aspernatur exercitationem tenetur dicta maxime.',
      child: [],
    },
    {
      title: 'When and how will my tax certificate be supplied to me?',
      content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos sed magni maxime nostrum qui, rerum nihil deleniti explicabo ad laudantium!',
      child: [],
    },
    {
      title: 'What is a Fractional Share Right (FSR)?',
      content: '',
      child: [
        {
          title: 'What is a contract for difference (CFD)?',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente praesentium odit natus adipisci qui quidem alias suscipit corrupti placeat quos, soluta, optio debitis dignissimos perspiciatis provident saepe iste ex minus quam temporibus? Quo?',
        },
        {
          title: 'How can I change my bank details?',
          content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, voluptates nisi incidunt modi repellat aspernatur?',
        },
      ],
    },
    {
      title: 'What is a contract for difference (CFD)?',
      content: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci a dolores quo obcaecati quis sit fuga necessitatibus provident consequatur, iure delectus tempore magni quia voluptate suscipit ducimus accusamus aperiam vitae, amet libero? Animi ab quam sequi explicabo accusamus culpa enim dignissimos magni a eum?',
      child: [],
    },
    {
      title: 'How can I change my bank details?',
      content: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est adipisci, officia vel maiores, quaerat blanditiis quibusdam at dolores vitae asperiores in, delectus fuga quia.',
      child: [],
    },
    {
      title: 'How do I redeem a voucher?',
      content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque quia adipisci, dolores dolor fugit nobis harum, nam nostrum officia, sed corrupti aspernatur? Aliquid itaque eos unde incidunt culpa fuga reiciendis corporis aut dolores iure. Pariatur at numquam, porro expedita quae repellendus totam vitae alias veritatis excepturi sint sapiente, doloribus, eligendi natus voluptas? At voluptates reprehenderit ducimus amet nam fuga expedita error porro assumenda velit harum maxime corrupti obcaecati deserunt, blanditiis, repellendus non. Illo quam, ducimus ea repellat aut sit deleniti.',
      child: [],
    },
    {
      title: 'How do I reset my password?',
      content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quod quas doloribus.',
      child: [],
    },
    {
      title: 'Is investing in securities (shares) risky?',
      content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos porro odio rem commodi dolores. Nisi sunt adipisci rem consequuntur autem architecto, labore laudantium et rerum, corrupti ipsum, reiciendis veritatis voluptas earum eius placeat!',
      child: [],
    },
  ]

  const dataTienIch = [
    { title: 'Khu vực để xe máy', icon: './assets/icons/icon-khu-vuc-de-xe-may.svg' },
    { title: 'Khu vực để ô tô', icon: './assets/icons/icon-khu-vuc-de-o-to.svg' },
    { title: 'Khuôn viên cây xanh', icon: './assets/icons/icon-khuon-vien-cay-xanh.svg' },
    { title: 'Công viên', icon: './assets/icons/icon-cong-vien.svg' },
    { title: 'Hồ nước', icon: './assets/icons/icon-ho-nuoc.svg' },
    { title: 'Ghế công cộng', icon: './assets/icons/icon-ghe-cong-cong.svg' },
    { title: 'Hệ thống điện dự phòng', icon: './assets/icons/icon-he-thong-dien-du-phong.svg' },
    { title: 'Hệ thống gas tổng', icon: './assets/icons/icon-he-thong-gas-tong.svg' },
    { title: 'Hệ thống điều hoà tổng', icon: './assets/icons/icon-he-thong-dieu-hoa-tong.svg' },
    { title: 'Làm đẹp Spa', icon: './assets/icons/icon-lam-dep-spa.svg' },
    { title: 'Khu vui chơi trẻ em', icon: './assets/icons/icon-khu-vui-choi-tre-em.svg' },
    { title: 'Khu thư giãn cho người cao tuổi', icon: './assets/icons/icon-khu-thu-gian-cho-nguoi-lon-tuoi.svg' },
  ]