* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

a {
	font-size: 14px;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $secondary;
	}
}

input,
select,
textarea,
button {
	outline: none;
}

p {
	line-height: 1.5;
	font-weight: 400;
	color: $gray;
	font-size: 14px;
	margin-bottom: 0;
}

form.custom-style-form {
	label {
		font-size: 12px;
		display: block;
		color: $grey-dark;
		margin-bottom: 5px;

		&.d-flex {
			@media (max-width: 575px) {
				flex-direction: column;
				align-items: flex-start !important;
			}
		}

		span {
			font-size: 12px;
			color: $primary;
		}

		&.big {
			font-size: 14px;
		}

		&.black {
			color: $nav;
		}

		&.bold {
			font-weight: bold;
		}
	}

	.form-group {
		&.half {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			.form-item {
				flex: 0 0 calc(100% / 2 - 10px);
				max-width: calc(100% / 2 - 10px);

				@media (max-width: 575px) {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}

		&.third {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			.form-item {
				flex: 0 0 calc(100% / 3 - 10px);
				max-width: calc(100% / 3 - 10px);

				@media (max-width: 575px) {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}

		&.forth {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			.form-item {
				flex: 0 0 calc(100% / 4 - 10px);
				max-width: calc(100% / 4 - 10px);

				@media (max-width: 991px) {
					flex: 0 0 calc(100% / 2 - 10px);
					max-width: calc(100% / 2 - 10px);
				}

				@media (max-width: 575px) {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}

		&.six-four {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;

			.form-item {
				&:nth-of-type(1) {
					flex: 0 0 calc(60% - 5px);
					max-width: calc(60% - 5px);
				}
				&:nth-of-type(2) {
					flex: 0 0 calc(40% - 5px);
					max-width: calc(40% - 5px);
				}

				@media (max-width: 575px) {
					flex: 0 0 100% !important;
					max-width: 100% !important;
				}
			}
		}

		.form-item {
			margin-bottom: 10px;

			&.switch-btn-input-wrapper {
				label {
					margin-bottom: 0;
				}

				@media (max-width: 575px) {
					flex-direction: column;
					align-items: flex-start !important;

					.switch-btn {
						margin-bottom: 10px;
					}
				}
			}

			input {
				margin: 5px 0;
				width: 100%;
				background: $input;
				padding: 10px;
				height: 40px;
				border-radius: 8px;
				outline: none;
				border: 1px solid transparent;

				&::placeholder {
					color: $grey;
				}
			}

			.form-input {
				input {
					background: $white;
					border: 1px solid $border;
					margin: 0;

					&.no-radius {
						border-radius: 0px;
					}
				}

				&.search {
					border: 1px solid $border;
					padding: 0 10px;
					background: $white;

					&.radius {
						border-radius: 8px;
					}

					img {
						flex: 0 0 20px;
						max-width: 20px;
						margin-right: 10px;
					}

					input {
						flex: 1;
						background: transparent;
						border: none;
						padding: 0;
						font-size: 14px;
						margin: 0;
					}
				}
			}

			.form-textarea {
				textarea {
					min-height: 100px;
					width: 100%;
					padding: 10px;
					background: $white;
					border: 1px solid $border;
					background: $white;

					&.radius {
						border-radius: 8px;
					}
				}
			}

			.form-select {
				.custom-select {
					border-radius: 0;
					height: 40px;
					font-size: 14px;
					background: $white url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.28125 0C0.59375 0 0.25 0.8125 0.75 1.28125L4.46875 5C4.75 5.3125 5.21875 5.3125 5.53125 5L9.25 1.28125C9.71875 0.8125 9.375 0 8.71875 0H1.28125Z' fill='%234A4A4A'/%3E%3C/svg%3E%0A") right .75rem center/8px 10px no-repeat;

					&.radius {
						border-radius: 8px;
					}
				}
			}

			.form-checkbox {
				display: flex;
				align-items: center;
				margin: 0 10px 0px 0;

				label {
					font-size: 15px;
					color: $gray;
					font-weight: 500;
					margin-bottom: 0;
				}

				input {
					margin-right: 5px;
					width: 24px;
					height: 24px;
					border: 1px solid $border;
					border-radius: 4px;
				}
			}

			.form-select-option {
				.option-item {
					margin: 0 15px 10px 0;
					padding: 10px;
					border-radius: 4px;
					border: 1px solid $border;
					font-weight: 500;
					font-size: 10px 20px;
					color: $gray;
					cursor: pointer;

					&:hover,
					&.active {
						border-color: $primary;
						color: $primary;
					}
				}

				.option-remove {
					width: 25px;
					height: 25px;
					border-radius: 50%;
					display: flex;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
					cursor: pointer;

					img {
						width: 18px;
						margin: auto;
					}
				}

				&:hover,
				&.active {
					border-color: $primary;
				}
			}

			.form-upload {
				.upload-wrapper {
					position: relative;
					height: 100px;
					border: 1px dashed $secondary;
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					font-weight: bold;
					font-size: 15px;
					border-radius: 4px;
					color: $secondary;

					input {
						position: absolute;
						opacity: 0;
						z-index: 2;
						width: 100%;
						cursor: pointer;
						height: 100%;
					}
				}

				.upload-item {
					margin-top: 15px;

					.item {
						width: 100px;
						height: 100px;
						margin: 0 10px 10px 0;
						@include centerImage;
					}
				}

				&.avatar-upload {
					position: relative;

					input {
						position: absolute;
						cursor: pointer;
						opacity: 0;
						z-index: 2;
						width: 100%;
						height: 100%;
					}

					.item-upload {
						img {
							width: 100%;
						}
					}
				}
			}



			.form-button {
				button {
					width: 100%;
					height: 40px;
					outline: none;
					border: none;
					padding: 0 15px;
					font-weight: bold;

					&.radius {
						border-radius: 8px;
					}

					&.yellow {
						background: $yellow;
						color: $black;
					}

					&.orange {
						background: $secondary;
						color: $white;
					}

					&.blue {
						background: $blue;
						color: $white;
					}
				}
			}
		}

		.error {
			select,
			input,
			textarea {
				border-color: $red !important;
			}

			.form-error {
				margin-top: 5px;
				font-size: 12px;
				color: $red;
				font-weight: 600;

			}
		}


	}
}

section.section {
	padding: 30px 0;

	.section-header {
		margin-bottom: 40px;

		.section-title {
			font-weight: 700;
			font-size: 21px;
			color: $primary;
			padding-left: 14px;
			position: relative;

			&::before {
				position: absolute;
				left: 0;
				width: 4px;
				height: 100%;
				background: $secondary;
				border-radius: 2px;
				content: '';
			}
		}

		.section-des {
			padding-left: 14px;
		}
	}
}

section.section-main-wrapper {
	padding: 30px 0;

	.section-title,
	.section-des {
		text-align: center;
	}

	.section-title {
		color: $primary;
		text-transform: uppercase;
		font-size: 28px;
		margin-bottom: 5px;
		font-weight: 700;
	}

	.section-des {
		color: $gray;
		margin-bottom: 40px;
		font-size: 15px;
		font-weight: 500;

		a,
		span {
			color: $gray;
			margin: 0 2px;
		}

		a {
			transition: 0.3s ease;

			&:hover {
				color: $secondary;
			}
		}
	}
}

.custom-style-carousel {
	.owl-dots {
		margin: 30px 0;
		display: flex;
		justify-content: center;

		.owl-dot {
			width: 12px;
			height: 12px;
			background: $gray-light;
			border-radius: 50%;
			margin: 0 4px;
			transition: .3s ease;
			outline: none;

			&.active {
				background: $secondary;
			}
		}
	}
}

body.layout-dark {
	&.active {
		.header-nav-dark {
			transform: translateX(0%);
		}

		@media (min-width: 992px) {

			.footer-dark-wrapper,
			.main-dark {
				padding-left: 240px;
			}

		}
	}

	.main-dark {
		padding: 48px 0 40px;
		height: 100vh;
		width: 100vw;
		overflow: auto;
		transition: 0.3s ease;
	}
}

.square {
	width: 12px;
	height: 12px;

	&.primary-dark {
		background: $primary-dark;
	}

	&.grey-dark {
		background: $grey-dark;
	}

	&.green {
		background: $green;
	}

	&.red-dark {
		background: $red-dark;
	}

	&.yellow {
		background: $yellow;
	}
}

.tab-wrapper {
	.tab-group {
		margin-bottom: 10px;
		border-bottom: 1px solid $input;
		display: flex;

		.tab-item {
			font-size: 13px;
			font-weight: 700;
			cursor: pointer;
			padding: 10px 0;
			text-align: center;
			flex: auto;
			text-transform: uppercase;
			border-bottom: 3px solid transparent;
			color: $grey;

			&:hover,
			&.active {
				border-bottom: 3px solid $primary-dark;
				color: $primary-dark;
			}
		}
	}

	.tab-main-group {
		.tab-item {
			display: none;

			&.active {
				display: block;
			}
		}
	}
}

.custom-modal {
	pointer-events: none;
	transition: 0.3s ease;
	transform: translateY(-30%);
	opacity: 0;

	&.active {
		transform: translateY(0);
		opacity: 1;
		pointer-events: unset;
	}
}

select.custom-select {
	box-shadow: none;
	background: $input url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.28125 0C0.59375 0 0.25 0.8125 0.75 1.28125L4.46875 5C4.75 5.3125 5.21875 5.3125 5.53125 5L9.25 1.28125C9.71875 0.8125 9.375 0 8.71875 0H1.28125Z' fill='%234A4A4A'/%3E%3C/svg%3E%0A") right .75rem center/8px 10px no-repeat;
}

.style-editable {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	p,
	a {
		font-size: 13px;
		color: $gray;
	}

	img {
		width: 100%;
		margin-bottom: 15px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		margin-bottom: 10px;
	}

	p {
		line-height: 1.5;
		margin-bottom: 15px;
	}
}

.table-wrapper {
	overflow: auto;
	width: 100%;

	table {
		width: 100%;
		border: 1px solid $border;
		border-collapse: 0;

		td {
			padding: 5px 10px;
			font-size: 15px;
			color: $gray;
			background: $white;

			&.center {
				text-align: center;
			}

			&.nowrap {
				white-space: nowrap;
			}

			&.min-width-content {
				min-width: 150px;
			}
		}

		thead {
			td {
				background: $primary;
				color: $white;
			}
		}

		tbody {
			td {
				border: 1px solid $border;

				.table-image {
					img {
						width: 100%;
					}
				}

				.table-tag {
					.tag-item {
						white-space: nowrap;
						font-size: 13px;
						border-radius: 8px;
						padding: 5px;

						&.unactive {
							color: $white;
							background: #bdbdbd;
						}

						&.active {
							color: $white;
							background: #219653;
						}

						&.pending {
							color: $white;
							background: #F2C94C;
						}
					}
				}

				.table-action {
					.action-item {
						display: flex;
						width: 28px;
						height: 28px;
						border-radius: 8px;
						cursor: pointer;

						&.edit {
							background: #FF6B00;
						}

						&.shopping-bag {
							background: #2D9CDB;
							margin: 0 5px;
						}

						&.reload {
							background: #27AE60;
						}

						img {
							width: 15px;
							margin: auto;
						}
					}
				}
			}

			tr {
				&:nth-of-type(even) {
					td {
						background: $input;
					}
				}
			}
		}
	}
}

.mfp-wrap {
	.mfp-arrow {

		&:before,
		&:after {
			display: none;
		}

		.mfp-custom-arrow {
			pointer-events: none;

			&.right {
				transform: rotate(180deg);
			}
		}
	}
}

.avatar {
	width: 32px;
	height: 32px;
	overflow: hidden;
	@include centerImage;
	border-radius: 50%;
}