$white: #fff;
$black: #000;

$primary: #172B74;
$primary-dark: #001D3C;
$nav: #00162E;
$secondary: #FF6B00;
$footer: #F9F9F9;
$input: #F3F3F3;

$grey: #7F7F80;
$grey-dark: #9B9B9B;
$gray: #4A4A4A;
$gray-light: #CECECE;
$red: #e74c3c;
$red-dark: #900000;
$green: #31AC00;
$yellow: #FFE800;

