$white: #fff;
$black: #000;

$primary: #172B74;
$primary-transparent: #1b43d61a;
$primary-dark: #001D3C;
$nav: #00162E;
$secondary: #FF6B00;
$secondary-transparent: rgba(255, 107, 0, 0.1);
$footer: #F9F9F9;
$input: #F3F3F3;
$border: #D4D4D4;
$popup-overlay: #0C1A26;
$title: #3B3D40;

$grey: #7F7F80;
$grey-dark: #9B9B9B;
$gray: #4A4A4A;
$gray-light: #CECECE;
$red: #e74c3c;
$red-dark: #900000;
$green: #31AC00;
$green-dark: #219653;
$yellow: #FFE800;
$blue: #5378E7;
