extends includes/layout/layout.pug

block pages 
  include includes/components/section-contact-banner.pug

  include includes/components/section-contact-info.pug

  include includes/components/section-contact-leader.pug
  
  include includes/components/section-contact-sologan.pug