html(lang='en')
  head
    meta(charset='utf-8')
    title Real Estate App
  body
    div
      a(href="index.html") Home
    div
      a(href="about.html") About Us
    div
      a(href="selling.html") Selling
    div
      a(href="news.html") News
    div
      a(href="deposit.html") Deposit
    div
      a(href="chart.html") Chart
    h1 News
    div
      a(href="tuyen-dung.html") Tuyển dụng
    div
      a(href="tuyen-dung-detail.html") Chi tiết tuyển dụng
    div
      a(href="list-projects.html") List Projects
    div
      a(href="project-detail.html") Projects 
    div
      a(href="list-properties.html") List Properties
    div
      a(href="properties-detail.html") Properties Detail
      