html(lang='en')
  head
    meta(charset='utf-8')
    title Real Estate App
  body
    div
      a(href="index.html") Home
    div
      a(href="about.html") About Us
    div
      a(href="selling.html") Selling
    div
      a(href="news.html") News
    div
      a(href="deposit.html") Deposit
    div
      a(href="chart.html") Chart
      