html(lang='en')
  head
    meta(charset='utf-8')
    title Real Estate App
  body
    h1 Work 1
    div
      a(target="_blank" href="index.html") Home
    div
      a(target="_blank" href="about.html") About Us
    div
      a(target="_blank" href="selling.html") Selling
    div
      a(target="_blank" href="news.html") News
    div
      a(target="_blank" href="deposit.html") Deposit
    div
      a(target="_blank" href="chart.html") Chart
    h1 Work 2
    div
      a(target="_blank" href="tuyen-dung.html") Tuyển dụng
    div
      a(target="_blank" href="tuyen-dung-detail.html") Chi tiết tuyển dụng
    div
      a(target="_blank" href="list-projects.html") List Projects
    div
      a(target="_blank" href="project-detail.html") Projects 
    div
      a(target="_blank" href="list-properties.html") List Properties
    div
      a(target="_blank" href="properties-detail.html") Properties Detail
    div
      a(target="_blank" href="account-setting.html") Account Infomation
    div
      a(target="_blank" href="property-status.html") Property Status 
    div
      a(target="_blank" href="write-property.html") Write Property
    div
      a(target="_blank" href="login.html") Login
    div
      a(target="_blank" href="register.html") Resgister
    div 
      a(target="_blank" href="payment.html") Payment Step 1
    div
      a(target="_blank" href="payment-2.html") Payment Step 2
    div
      a(target="_blank" href="payment-3.html") Payment Step 3
    div
      a(target="_blank" href="account-overview.html") Account Overview
      