extends includes/layout/layout-dark.pug

block pages 
  section.news-detail-page 
    .container 
      .new-detail-page-wrapper 
        .new-header
          p.new-date April 26, 2017
          h1.new-title Two Million Thanks
          h4.new-des Robinhood reaches two million users and secures Series C financing

        .new-body
          img(src="./assets/images/image-sample-banner.png", alt="")

          p At Robinhood, we’re dedicated to providing everyone with access to America’s financial system. To help further this mission, we recently raised $110 million in Series C financing led by DST Global, valuing the company at $1.3 billion. Existing investors NEA, Index Ventures, and Ribbit Capital, as well as new investors Thrive Capital and Greenoaks Capital also participated in the round, bringing our total funding to date to $176 million.
          p Since our public launch in 2015, Robinhood quickly became the fastest growing brokerage ever.  Our two million users have transacted over $50 billion and saved nearly half a billion dollars in commission fees. Robinhood Gold, our margin and extended hours service, is also experiencing significant growth, with signups surging 17% month over month. 

          img(src="./assets/images/image-sample-box.png", alt="")

          p We’ll use this capital to accelerate the expansion of our products and services. We’re working on a few exciting releases, so stay tuned for updates!

        .new-footer.d-flex.align-items-center.justify-content-center 
          .new-like.d-flex.align-items-center 
            .new-footer-item
              img(src="./assets/icons/icon-heart-pink.svg", alt="")
              span 123 Like 
          .new-share.d-flex.align-items-center
            |Share
            .new-footer-item
              img(src="./assets/icons/icon-facebook-square.svg", alt="")
              span 23
            .new-footer-item
              img(src="./assets/icons/icon-twitter-blue.svg", alt="")
              span 16
          
