extends includes/layout/authen-layout.pug
block pages 
  include includes/components/button.pug
  - const page = 'payment'
  section.section.section-account 
    .container 
      .section-wrapper 
        .tab-wrapper
          .row 
            .col-lg-4
              include includes/components/account-sidebar.pug
            .col-lg-8
              .payment-step.project-detail-card
                h3.project-title Packages
                p.content-orange Your Credits: 0 credits
                p Choose your package
                .package-box-lists.d-flex.flex-wrap.justify-content-between.second 
                  .package-box.d-flex.flex-column 
                    h3.box-title Single Post
                    p.box-des $250 / per post
                    p.box-des $250 Total (Save 0%)
                    +button('button', 'Purchase', '', 'yellow bold uppercase')
                  .package-box.d-flex.flex-column 
                    h3.box-title 5 Posts
                    p.box-des $200 / per post
                    p.box-des $1,000 Total (Save 20%)
                    +button('button', 'Purchase', '', 'yellow bold uppercase')

                h3.project-title Transactions
                p.d-flex.align-items-center 
                  img(src="./assets/icons/icon-clock-gray.svg", alt="")
                  |You have purchased 0 credit(s)
