.account-infomation.project-detail-card
  h3.project-title Personal settings
  .infomation-main 
    .row 
      .col-lg-8
        form(action="#" method="method").custom-style-form
          .form-group
            .form-item 
              label.black.big First name
              .form-input 
                input(type="text" placeholder="First name").radius
          .form-group
            .form-item 
              label.black.big Last name
              .form-input 
                input(type="text" placeholder="Last name").radius
          .form-group
            .form-item 
              label.black.big User name
              .form-input 
                input(type="text" placeholder="User name").radius
          .form-group
            .form-item 
              label.black.big Phone
              .form-input 
                input(type="text" placeholder="Phone").radius
          .form-group
            .form-item 
              label.black.big Description (*)
              .form-textarea 
                textarea(placeholder="Description").radius
          .form-group
            .form-item 
              label.black.big Email
              .form-input 
                input(placeholder="Email").radius
          .form-group
            .form-item 
              label.black.big City (*)
              .form-select 
                select.custom-select.radius
                  option(value="#") WAP City
                  option(value="#") WAP City 1
                  option(value="#") WAP City 2
          label.black.big Birthday
          .form-group.third
            .form-item 
              label.black.big Year
              .form-input 
                input(type="text" placeholder="Year").radius
            .form-item 
              label.black.big Mouth
              .form-input 
                input(type="text" placeholder="Mouth").radius
            .form-item 
              label.black.big Day
              .form-input 
                input(type="text" placeholder="Day").radius

          .form-group.half
            .form-item 
              label.black.big Gender
              .form-input 
                input(type="text" placeholder="Gender").radius

          .form-group.half
            .form-item 
              .form-button 
                button.yellow Add addition filter

      .col-lg-4
        form(action="#" method="method").custom-style-form
          .form-group 
            .form-item 
              label.black.big Profile picture
              .form-upload.avatar-upload 
                input(type="file")
                .item-upload 
                  img(src="./assets/images/image-avatar.png", alt="")

