mixin bannerCategory(title)
  section.section-banner-category 
    .banner-background 
      img(src="./assets/images/image-sample-banner.png", alt="")
    .banner-overlay 
    .container 
      .section-banner-category-wrapper 
        h1= title
