.component-pagination.d-flex.justify-content-center
  .pagination
    ul.pagination-list.d-flex
      li.pagination-list-btn
        a.d-flex.justify-content-center.align-items-center.prev(href='#')
          img(src="./assets/icons/icon-angle-left-gray.svg" alt="")
      li.active
        a.d-flex.justify-content-center.align-items-center(href='#') 1
      li
        a.d-flex.justify-content-center.align-items-center(href='#') 2
      li.bg-none
        a(href='#') 
          img(src="./assets/icons/icon-dots-gray.svg" alt="")
      li
        a.d-flex.justify-content-center.align-items-center(href='#') 29
      li
        a.d-flex.justify-content-center.align-items-center(href='#') 30
      li.pagination-list-btn
        a.d-flex.justify-content-center.align-items-center.next(href='#')
          img(src="./assets/icons/icon-angle-right-gray.svg" alt="")
