.project-detail-card 
  .contact-header.d-flex.align-items-start 
    img(src="./assets/icons/icon-support-blue.svg", alt="")
    .header-content 
      h3.project-title Bất động sản an khang
      p Hỗ trợ 24/7

  form(action="#").contact-form.custom-style-form
    .form-group 
      .form-item 
        .form-input
          input(type="text" placeholder="Họ và tên").radius
    .form-group 
      .form-item 
        .form-input
          input(type="text" placeholder="Điện thoại").radius
    .form-group 
      .form-item 
        .form-input
          input(type="text" placeholder="Email").radius
    .form-group 
      .form-item 
        .form-input
          input(type="text" placeholder="Lời nhắn").radius
    .form-group 
      .form-item 
        .form-input
          input(type="text" placeholder="Công ty" value="Eco Green Sài Gòn").radius
    .form-group 
      .form-item 
        .form-button
          button.yellow Đăng ký
      