.project-detail-card 
  h3.project-title Thông tin chi tiết
  .project-detail-content
    p.content-orange Eco Green Saigon là dự án khu phức hợp Thương mại – Dịch vụ – Khách sạn 5* – Căn hộ – Shophouse cao cấp tọa lạc ngay mặt tiền đường Nguyễn Văn Linh, Quận 7 do Xuân Mai Sài Gòn làm chủ đầu tư. Đây cũng là dự án khu phức hợp được quy hoạch quy mô lớn nhất phía Nam Sài Gòn với diện tích hơn 14ha.
    p Những căn hộ 3 phòng ngủ đẹp nhất tháp HR2 dự án Eco Green Saigon sắp sửa được tung ra thị trường và chủ đầu tư Xuân Mai Sài Gòn sẽ tổ chức lễ mở bán vào trung tuần tháng 8/2020 sắp tới. Đến ngày event mở bán, khi có giá bán chính thức, khách quyết định mua sẽ chuyển tiền đặt chỗ thành tiền cọc.
    p.mb-2(style="padding-top: 0; padding-bottom: 0;") Tham khảo các tin liên quan:
    ul
      each item in ['The Grand Manhattan', 'Lovera Vista Khang Điền', 'Sunshine Diamond River', 'Saigon Sports City', 'Verosa Park']
        li 
          a(href="#")= `➤ ${item}`

    h3.project-title Dự án Eco Green Saigon
    p + Tên thương mại: Eco Green Saigon
    p + Chủ đầu tư: Công ty CP Đầu tư Xây dựng Xuân Mai Sài Gòn (Xuân Mai Sài Gòn)
    p + Vị trí: Mặt tiền đường Nguyễn Văn Linh, Phường Tân Thuận Tây, Quận 7, TP.HCM
    p + Tổng thầu xây dựng: Xuân Mai Corp
    p + Đơn vị thi công móng cọc: An Phong và Bidico
    p + Ngân hàng liên kết: Sacombank, LienVietPostBank
    p + Quy mô: 14.36 ha gồm 7 tháp căn hộ cao 36 tầng
    p + Loại hình sản phẩm: căn hộ cao cấp, shophouse, officetel
    p + Tổng số căn hộ: 4,000 căn hộ

    .button-group.d-flex.justify-content-center 
      include button.pug
      +button('button', 'Xem thêm', './assets/icons/icon-caret-right-white.svg', 'secondary reverse')

.project-detail-card 
  h3.project-title Chủ đầu tư
  .project-detail-content
    h4.text-center Chủ đầu tư
    
    p Công ty Xuân Mai Sài Gòn, chủ đầu tư dự án Eco Green Saigon được hợp lực bởi 3 cổ đông chiến lược, tiềm lực tài chính vững mạnh và dày dạn kinh nghiệm trong lĩnh vực bất động sản là Công ty TNHH Khải Hưng, Công ty CP Đầu Tư và Xây Dựng Xuân Mai và Công ty TNHH Thương mại và Sản xuất Tường Việt, trong đó:
    p Công ty TNHH Khải Hưng: là công ty đầu tư tài chính, bất dộng sản và năng lượng sạch. Khải Hưng là cổ đông chính của Thủy Điện Văn Trấn, Thủy điện Việt Lào với tổng mức đầu tư cho dự án Xekaman 1 và Xekaman 3 là 16.000 tỷ.
    p Công ty Cổ phần Đầu tư và Xây dựng Xuân Mai (Xuân Mai Corp.): là đơn vị có bề dày kinh nghiệm hơn 35 năm trong lĩnh vực bất động sản với vai trò Tổng thầu EPC hàng loạt dự án lớn trên cả nước và Nhà phát triển bất động sản uy tín, thành công với rất nhiều dự án ở thị trường BĐS. Xuân Mai sở hữu các công nghệ xây dựng tiên tiến đang áp dụng phổ biến tại các nước phát triển hàng đầu thế giới như Châu Âu, Mỹ, Nhật Bản và hiện nay, nhờ ứng dụng thành công thế hệ công nghệ thi công F4, Xuân Mai Corp. đã đạt được tiến độ thi công đạt mức 3 ngày/tầng.
    p Công ty TNHH Thương mại và Sản xuất Tường Việt: là nhà cung cấp và lắp đặt thiết bị hàng đầu tại thị trường Việt Nam, trong nhiều năm qua Tường Việt phân phối máy phát điện, thang máy, hệ thống điều hòa không khí, thiết bị vệ sinh, cơ điện và đồ gỗ nội thất từ các hãng sản xuất nổi tiếng trên thế giới đến hàng trăm dự án quy mô lớn trong các lĩnh vực thương mại, công nghiệp, viễn thông, y tế, giáo dục, ngân hàng...
    p Sự hợp lực của 3 cổ đông tên tuổi này đã tạo nền tảng vững chắc cho chủ đầu tư Xuân Mai Sài Gòn trong quá trình hình thành và phát triển dự án tại thị trường bất động sản TP. HCM.

    .button-group.d-flex.justify-content-center 
      include button.pug
      +button('button', 'Xem thêm', './assets/icons/icon-caret-right-white.svg', 'secondary reverse')
  
.project-detail-card 
  h3.project-title Vị trí dự án
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59587.97785448519!2d105.80194416037082!3d21.02273601629969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSGFub2ksIEhvw6BuIEtp4bq_bSwgSGFub2ksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1617307684593!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

.project-detail-card 
  h3.project-title Tính lãi vay mua nhà 
  .hire-wrapper 
    .row 
      .col-sm-6
        .hire-col
          p.hire-title Số tiền vay
          .hire-label.align-items-center.d-flex.justify-content-between 
            input(type="text" placeholder="Số tiền vay")
            p.orange VNĐ

          p.hire-title Thời gian vay tiền
          .hire-label.align-items-center.d-flex.justify-content-between 
            input(type="text" placeholder="Thời gian vay tiền")
            p.orange Năm

          p.hire-title Lãi suất vay
          .hire-label.align-items-center.d-flex.justify-content-between 
            input(type="text" placeholder="Lãi suất vay")
            p.orange %/năm

          p.hire-title Loại hình vay
          .hire-label.align-items-center.d-flex.justify-content-between
            select
              option(value="#") Trả lãi chia đều
      .col-sm-6
        .hire-col.hire-overview 
          p Số tiền hàng tháng phải trả
          h6.hire-price 16.666.667

          p Tổng số tiền lãi phải trả
          h6.hire-price 16.666.667

          p Tổng số tiền phải trả
          h6.hire-price 16.666.667

          +button('button', 'Chi tiết lịch trả nợ', '', 'yellow no-radius bold w-100 big')

    .table-wrapper
      table
        thead 
          tr 
            td.center.nowrap Số kỳ trả
            td.center.nowrap Dư nợ đầu kỳ (VNĐ)
            td.center.nowrap Gốc phải trả (VNĐ)
            td.center.nowrap Lãi phải trả (VNĐ)
            td.center.nowrap Gốc +Lãi (VNĐ)
        tbody 
          each item in [1,2,3,4,5,6,7,8,9,10]
            tr 
              td.center.nowrap= item 
              td.center.nowrap 2.000.000.000
              td.center.nowrap 8.333.333
              td.center.nowrap 8.333.333
              td.center.nowrap 166.667.666
