.project-detail-card 
  h3.project-title Tổng quan Eco Green Sài Gòn
  .project-detail-content
    p Osaka Heights is a state of the art apartment crafted with elegance, comfort and classiness.
    p The grander apartments add new heights to the life of people in Colombo, Sri Lanka.
    p Devised by a team of international consultants, Osaka Heights is all about contemporary design and comprehensive attention to detail in execution. If you are interested to own a luxury apartment at Sri Lanka, Osaka Heights is the best choice. The foundation of Osaka Heights is laid by skilled professionals, who capture your vision completely. The construction is built as per your elegant lifestyles, without any compromise in quality and class.
    p The homes come with all comfy amenities and facilities for a superior life. From the panoramic views, the rooftop swimming pool and the landscaped eco-balconies, beauty meets you at every step in Osaka Heights. Made for an exclusive few, Osaka Heights gives you the advantage of sharing a space with like-minded individuals. An elevated lifestyle naturally follows, making Osaka Heights one of the most sought-after addresses in Colombo.
  h3.project-title Features
  .row 
    each item in ['Wifi', 'Swimming Pool', 'Balcony', 'Parking', 'Security', 'Fitness Center']
      .col-lg-4.col-md-6 
        .feature-item.d-flex.align-items-center 
          img(src="./assets/icons/icon-check-circle-green.svg", alt="")
          = item
  
.project-detail-card 
  h3.project-title Vị trí dự án
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59587.97785448519!2d105.80194416037082!3d21.02273601629969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSGFub2ksIEhvw6BuIEtp4bq_bSwgSGFub2ksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1617307684593!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

