section.section-contact-leader.section-main-wrapper
  .container 
    .section-wrapper 
      h2.contact-header Ban lãnh đạo
      .leader-lists 
        .row 
          .col-lg-4
            .leader-item 
              .item-avatar 
                img(src="./assets/images/image-contact-avatar-1.png", alt="")
              p.item-quote “Sự lười biếng của bản thân như một cái rễ cây. Chúng nhanh chóng phát triển và ghìm chặt bạn tại một chỗ”
              h3.item-name NGUYỄN VĂN ĐẠO
              p.item-job Giám Đốc
          
          .col-lg-4
            .leader-item 
              .item-avatar 
                img(src="./assets/images/image-contact-avatar-2.png", alt="")
              p.item-quote “Đừng ngại thay đổi. Bạn có thể mất một cái gì đó tốt nhưng bạn có thể đạt được một cái gì đó còn tốt hơn”
              h3.item-name VŨ VĂN HẬU
              p.item-job Phó Giám Đốc

          .col-lg-4
            .leader-item 
              .item-avatar 
                img(src="./assets/images/image-contact-avatar-3.png", alt="")
              p.item-quote “Hãy sống là chính mình, bình thường nhưng không tầm thường”
              h3.item-name ĐOÀN MẠNH NAM
              p.item-job Phó Giám Đốc