section.section-contact-info.section-main-wrapper
  p.section-des
    a(href="#") Công ty BĐS An Phát
    span » 
    span Giới thiệu

  .contact-info-banner  
    img(src="./assets/images/image-contact-banner.png", alt="").banner-bg
    .banner-overlay 
    .banner-content 
      .container
        h1.content-title CÔNG TY CỔ PHẦN BĐS AN PHÁT
        h2.content-sologan đặt chất lượng cuộc sống khách hàng trở thành ưu tiên số 1
        p.content-des Hơn 6 năm hình thành và phát triển, AnPhatLand luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất.

  section.section.contact-info-properties 
    .container 
      .properties-wrapper 
        .row 
          .col-lg-6 
            .properties-item.d-flex
              .item-icon
                img(src="./assets/icons/icon-hand-blue.svg", alt="")
              .item-content 
                h3.content-title Hoài bão
                p.content-des Hoài bão của chúng tôi là đưa An Phát trở thành một công ty trong lãnh vực BDS uy tín, hùng mạnh.

          .col-lg-6 
            .properties-item.d-flex
              .item-icon
                img(src="./assets/icons/icon-rewards-blue.svg", alt="")
              .item-content 
                h3.content-title TRIẾT LÝ KINH DOANH
                p.content-des Một doanh nghiệp thành công và phát triển bền vững chỉ khi các thành viên đều sẵn sàng phục vụ khách hàng bằng tất cả niềm đam mê, sức mạnh của kỷ luật, khiêm tốn học hỏi và thành tâm cống hiến cho xã hội bằng tất cả tài năng, sự chân thật và lòng nhiệt huyết của mình..
          

          .col-lg-6 
            .properties-item.d-flex
              .item-icon
                img(src="./assets/icons/icon-star-blue.svg", alt="")
              .item-content 
                h3.content-title SỨ MỆNH
                p.content-des Sứ mệnh của An Phát là đặt chất lượng cuộc sống khách hàng trở thành ưu tiên số 1 để đem lại sự an tâm và lợi ích phát triển cho khách hàng, góp phần tích cực vào sự kiến tạo một xã hội văn minh, cộng đồng đẳng cấp.

          .col-lg-6 
            .properties-item.d-flex
              .item-icon
                img(src="./assets/icons/icon-diamond-blue.svg", alt="")
              .item-content 
                h3.content-title GIÁ TRỊ CỐT LÕI
                p.content-des
                  |Ứng xử VĂN MINH – Hành xử TRUNG THỰC
                  br
                  |Bản thân CẦU TIẾN – Thi hành KỶ LUẬT
                  br
                  |Đồng nghiệp TƯƠNG TRỢ – Chủ động HỢP TÁC
                  br
                  |Thưởng phạt CÔNG MINH – Trung Thành AN PHÁT

  .video-contact-modal.modal.fade#videoContactModal(tabindex="-1" role="dialog" aria-labelledby="videoContactModal" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#videoContactModalModal Example title
          button.close(data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times
        .modal-body
          .video-contact-wrapper
            video(src="./assets/videos/video-sample.mp4" controls style="width: 100%;") 

  section.section-contact-video 
    .d-flex.flex-wrap
      .video-item 
        .video-image 
          img(src="./assets/images/image-contact-video-1.png", alt="")
        .video-btn(data-toggle="modal" data-target="#videoContactModal")
          img(src="./assets/icons/icon-play-circle-white.svg", alt="")

      .video-item 
        .video-image 
          img(src="./assets/images/image-contact-video-2.png", alt="")
        .video-btn(data-toggle="modal" data-target="#videoContactModal")
          img(src="./assets/icons/icon-play-circle-white.svg", alt="")