section.section-contact-sologan.section-main-wrapper
  .container 
    .section-wrapper 
      h2.contact-header NẾU KHÔNG THỂ LÀ TỐT NHẤT HÃY LÀ DUY NHẤT
      .contact-sologan-main   
        .row 
          .col-lg-6   
            .contact-item 
              img(src="./assets/images/image-contact-sologan-1.png", alt="")
              img(src="./assets/images/image-contact-sologan-2.png", alt="")
              img(src="./assets/images/image-contact-sologan-3.png", alt="")
          .col-lg-6
            .contact-item
              p Tục ngữ Việt có câu “Vui lòng khách đến. Vừa lòng khách đi”. Tuy nhiên, mấy ai làm được và làm đúng lời khuyên ấy.
              p An Phát Land là 1 tập thể với những con người nhiệt huyết, đam mê với nghề.
              p Tất cả là dựa trên sự kỉ luật, tôn trọng đối thủ, sự phấn đấu nỗ lực không ngừng nghỉ để thay đổi và hoàn thiện bản thân, để chúng ta làm thế nào trở thành người chủ thực sự của cuộc đời mình?
              p AnPhatLand sẽ luôn cố gắng để xây dựng một tập thể những con người cống hiến luôn làm việc với hành trang bên mình “GIỮ VỮNG TINH THẦN KHỞI NGHIỆP”.
              h5 HÃY ĐI CÙNG NGƯỜI TỐT NHẤT VÀ MÌNH LÀ DUY NHẤT
              p An Phát chọn con đường “ĐI THEO NGƯỜI TỐT NHẤT VÀ MÌNH LÀ DUY NHẤT” vì vậy chúng tôi đã chọn cho mình những dòng sản phẩm chất lượng nhất mà chủ đầu tư Vinhomes cung cấp. Với những tôn chỉ bán hàng riêng cho mình.
              p Đối với khách hàng, chúng tôi chuẩn bị tất cả những tài liệu bán hàng đầy đủ để cuộc gặp lần đầu thể hiện được sự tình cảm, chân thành. Luôn đặt họ vào vị trí người thân của mình để chăm sóc hết sức tận tình, chu đáo.
              p Đối với nhân viên bán hàng của đối thủ, chúng tôi tôn trọng, thân thiện, thậm chí , sẵn sàng khiêm tốn học hỏi cách thức bán hàng của họ. Đối với đồng đội, chúng tôi nhắc nhau trung thực, giữ gìn uy tín!
              p Chúng tôi không lấy khách hàng theo cách thức giành giật, tranh cướp, triệt hạ, nói xấu đối thủ. Chúng tôi nhẹ nhàng, lặng lẽ chinh phục trái tim của khách hàng và luôn thể hiện cho khách hàng thấy chúng tôi đến với họ không phải để giật lấy họ từ tay người khác. Chúng tôi đến với họ là để cung cấp một giải pháp, để đáp ứng một nhu cầu, để đem lại sự hài lòng.
              p Đối thủ có cách của họ, chúng tôi có cách của chúng tôi; và khách hàng hãy thong thả cảm nhận, thong thả lựa chọn, không nên vội vàng. Chúng tôi chấp nhận mất khách hàng nếu sản phẩm chúng tôi biết không đáp ứng nhu cầu của họ tốt hơn sản phẩm khác. Và nhờ vậy, khách hàng không rời bỏ chúng tôi, đối thủ nể trọng chúng tôi, còn chúng tôi học được bài học từ thất bại để cải tiến, tìm giải pháp tốt hơn cho khách hàng.
              p Chúng tôi luôn mãi theo đuổi sự “Hạnh Phúc” trong công việc bởi chúng tôi tin tưởng:
              p
                |Người giàu sẽ thèm tiền
                |Người nghèo cũng thèm tiền
                |Chỉ có người anh minh mới thèm hạnh phúc!
              h5
                |GIÁM ĐỐC CÔNG TY CỔ PHẦN BĐS AN PHÁT
                |Nguyễn Văn Đạo

